@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-accent-cyan to-accent-pink;
  }
  
  .bg-glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}